.App {
    text-align: center;
    margin-top: 50px;
}


li.completed span {
    color: rgb(255, 0, 0);
    text-decoration: line-through;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}